
.opener{
    text-align: right;
    padding-right: 40px;
    padding-top: 10%;
    padding: 10%;
  }
  
  .main-section{
    margin: 29%;
    float: left;
    padding: 30px;
  }
  
  .left_section{
    padding: 0% 5% 5% 5%;
  }
  
  .right_section{
    text-align: right;
  }
  
  /* Float 3 columns side by side */
  .card-column {
    float: left;
    width: 50%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .card-row {
    padding-top: 5%;
    padding-left: 3%;
    width: 92%;
    float: left;
  }
  
  /* Clear floats after the columns */
  .card-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Clear floats after the columns */
  .card-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    padding: 9%;
  }
  
  .card img{
    width: 86%;
  }

  .card h2{
    text-align: center;
  }
  
