
.opener{
    text-align: right;
    padding-right: 40px;
    padding-top: 10%;
    padding: 10%;
  }
  
  .main-section{
    margin: 29%;
    float: left;
    padding: 30px;
  }
  
  .left_section{
    padding: 0% 5% 2% 5%;
  }
  
  .right_section{
    text-align: right;
  }
  
  /* Float 3 columns side by side */
  .card-column {
    float: left;
    width: 38%;
    padding-left: 5%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .card-row {
    padding: 3%;
    margin: 2;
    width: 100%;
    float: left;
  }
  
  /* Clear floats after the columns */
  .card-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/*.card{
  background-color: rgb(45, 10, 77);
}*/

  /* Style the counter cards */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    text-align: left;
    padding: 6px;
    padding-left: 5%;
    color: white;
    font-size: 18px;
    font-weight: 300;
  }

  td img{
    width: 19px;
    padding-left: 3%;  
  }

  .card h2{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  