html,
body {
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html {
  height: 100%;
  width: 100%;
}

:root {
  --clr-1: #4e6743;
  --clr-2: #24301f;
  --clr-3: #b1c4ac;
  --clr-4: #e9ffde;
}


body{
  background-color: rgb(169, 169, 169);
  font-family: "Inter", sans-serif;
}

h1{
  color: white;
  font-weight: 340;
letter-spacing: 2.5px;
font-size: 60px;
}

h2{
  color: white;
  font-weight: 330;
  font-size: 45px;
  letter-spacing: 2px;
}

h3{
  color: white;
  font-weight: 300;
  font-size: 20px;
}

body p{
    color: white;
    font-weight: 300;
    font-size: 18px;
}

mark{
  color: white;
  background-color: rgb(135, 44, 44);
}

::-webkit-scrollbar {
  display: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: whitesmoke;
  }

a:visited {
  color: white;
  }

mark {
  background-color: rgb(105, 105, 105);
  padding: 5px;
}

nav {
  top: 15%;
  right: 4%;
  position: fixed;
  text-align: right;
  z-index: 1;
}

nav img{
  width: 18px;
}

li {
  display: block;
  margin: 0px 0px 0px 0px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px 0px 0px 0px;
}

.image-panel{
  width: 380px;
  padding-left: 5%;
  float: right;
}

.image-panel img{
  width: 100%;
}

.contact {
  padding: 1.5%;
  padding-left: 3%;
  text-align: left;
  bottom: 0;
  position: relative;
  overflow: hidden;
}

.contact p{
  color: white;
  font-size: 15px;

}

.contact-icons {
  position: absolute;
  bottom: 1.5%;
  right: 4%;
  display: flex;
  gap: 10px;
}

.contact-icons img {
  height: 30px;
}